@charset "UTF-8";
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1223000 !important;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  background: #ddd;
}

.zmiti-main-ui {
  width: 750px !important;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: -1;
  opacity: 0;
  /* 蜡烛芯 */
  /* 火焰 */
  /* 烟雾元素们 */
  /* 烟雾动画 */
}

.zmiti-main-ui.main-enter-active, .zmiti-main-ui.main-leave-active {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.zmiti-main-ui.main-leave-to, .zmiti-main-ui.main-enter {
  opacity: 0;
}

.zmiti-main-ui.show {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 270;
  opacity: 1;
}

.zmiti-main-ui .zmiti-view {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  width: 750px;
  height: 100%;
}

.zmiti-main-ui .zmiti-view:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transform: translateZ(100px);
  transform: translateZ(100px);
  background-image: -webkit-radial-gradient(rgba(225, 225, 225, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8), black);
  -webkit-animation: light 2s linear forwards;
  animation: light 2s linear forwards;
}

@-webkit-keyframes light {
  to {
    -webkit-transform: translate3d(0, 0, 100px) scale(10);
    transform: translate3d(0, 0, 100px) scale(10);
  }
}

.zmiti-main-ui .zmiti-box-ui {
  z-index: 10;
  width: 100%;
  left: 0 !important;
  top: 0 !important;
  height: 100%;
}

.zmiti-main-ui .zmiti-box-bg {
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0 !important;
  display: none;
  top: 0 !important;
}

.zmiti-main-ui .zmiti-box-ui, .zmiti-main-ui .zmiti-translateZ {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 750px;
  height: 1344px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -672px 0 0 -375px;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C span, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C span {
  left: 750px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: left;
  transform-origin: left;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-C > span, .zmiti-main-ui .zmiti-translateZ .zmiti-box-C > span {
  left: 0;
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.zmiti-main-ui .zmiti-box-ui .zmiti-box-item, .zmiti-main-ui .zmiti-translateZ .zmiti-box-item {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.zmiti-main-ui .candle {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 40px;
  margin: auto;
  z-index: 100;
}

.zmiti-main-ui .candle-body {
  width: 40px;
  height: 120px;
  background-color: #E90018;
  border-radius: 0 0 40px 40px/0 0 16px 16px;
  box-shadow: inset 8px 0 12px rgba(0, 0, 0, 0.1), inset -8px 0 12px rgba(0, 0, 0, 0.1);
  position: relative;
}

.zmiti-main-ui .candle-body::before {
  content: '';
  position: absolute;
  height: 16px;
  border-radius: 50%;
  background-color: #EF4D65;
  top: -8px;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 20px #E90018, inset 0 0 5px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 3px rgba(0, 0, 0, 0.4);
}

.zmiti-main-ui .candle-body::after {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: auto;
  background: #fff;
  background-image: linear-gradient(to bottom, #311, #edd3d1 70%, #edd3d1);
  border-radius: 0 0 4px 4px/0 0 2px 2px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.zmiti-main-ui .candle-flame {
  -webkit-animation: flicker 3s infinite ease-out alternate;
  animation: flicker 3s infinite ease-out alternate;
  background-image: -webkit-radial-gradient(ellipse at 5px 20px, rgba(75, 95, 124, 0), rgba(255, 255, 255, 0.5), #fff);
  background-image: radial-gradient(ellipse at 5px 20px, rgba(75, 95, 124, 0), rgba(255, 255, 255, 0.5), #fff);
  border-radius: 37% 37% 34% 34%/70% 70% 33% 33%;
  box-shadow: 0 -8px 8px 4px #fff, 0 -15px 15px 12px #ff0, 0 -15px 0 14px #f00;
  width: 10px;
  height: 20px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  top: -24px;
  margin: auto;
  transform-origin: center bottom;
  filter: blur(2px);
}

.zmiti-main-ui .out .candle-flame {
  display: none;
}

@-webkit-keyframes flicker {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1, 0.9) rotate(3deg);
  }
  50% {
    transform: scale(1, 1.2);
  }
  80% {
    transform: scale(0.9, 1.1) rotate(-3deg);
  }
  100% {
    transform: scale(1);
  }
}

.zmiti-main-ui .candle-smoke {
  position: absolute;
  left: 50%;
  top: -15px;
  transform-origin: bottom center;
  transform: scale(0.5);
  filter: blur(3px);
  opacity: 0;
}

.zmiti-main-ui .out .candle-smoke {
  animation: smokeOut 30s both;
}

@-webkit-keyframes smokeOut {
  10% {
    opacity: 1;
  }
  0%, 100% {
    opacity: 0;
  }
}

.zmiti-main-ui .candle-smoke span {
  position: absolute;
  bottom: -9px;
  left: -9px;
  width: 18px;
  height: 18px;
  background-image: radial-gradient(closest-side circle, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
  border-radius: 18px;
  opacity: 0;
}

.zmiti-main-ui .candle:not(.out) .candle-smoke span {
  animation: none;
}

@keyframes smokeL {
  0% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
  }
  10% {
    opacity: .8;
    transform: scale(1) translate(0, -7px);
  }
  100% {
    opacity: 0;
    transform: scale(5) translate(-4px, -26px);
  }
}

@keyframes smokeR {
  0% {
    opacity: 0;
    transform: scale(1) translate(0, 0);
  }
  10% {
    opacity: .8;
    transform: scale(1) translate(0, -7px);
  }
  100% {
    opacity: 0;
    transform: scale(5) translate(4px, -26px);
  }
}

.zmiti-main-ui .candle-smoke .s0 {
  animation: smokeL 10s 0s infinite;
}

.zmiti-main-ui .candle-smoke .s1 {
  animation: smokeR 10s 1s infinite;
}

.zmiti-main-ui .candle-smoke .s2 {
  animation: smokeL 10s 2s infinite;
}

.zmiti-main-ui .candle-smoke .s3 {
  animation: smokeR 10s 3s infinite;
}

.zmiti-main-ui .candle-smoke .s4 {
  animation: smokeL 10s 4s infinite;
}

.zmiti-main-ui .candle-smoke .s5 {
  animation: smokeR 10s 5s infinite;
}

.zmiti-main-ui .candle-smoke .s6 {
  animation: smokeL 10s 6s infinite;
}

.zmiti-main-ui .candle-smoke .s7 {
  animation: smokeR 10s 7s infinite;
}

.zmiti-main-ui .candle-smoke .s8 {
  animation: smokeL 10s 8s infinite;
}

.zmiti-main-ui .candle-smoke .s9 {
  animation: smokeR 10s 9s infinite;
}

@media all and (max-height: 1109px) {
  .zmiti-question-img {
    width: 350px  !important;
    margin: 10px auto !important;
  }
  .zmiti-result-btns {
    bottom: -100px;
  }
  .zmiti-right-remark h2 {
    text-align: left;
  }
  .zmiti-right-remark div {
    width: 680px;
    margin: 20px auto;
    text-align: left;
    text-indent: 2em;
    font-size: 34px;
  }
}

@-webkit-keyframes info {
  from {
    -webkit-transform: translate3d(0, -30px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes waiting {
  to {
    -webkit-transform: rotate(360deg);
  }
}
